.answer_section {
    background-color: #8db1fe;
    color: black;
    border: solid #8db1fe;
    height: 45px;
    border-radius: 30px;
    margin-top: 8px;
    margin: 8px 45px
}

p {
    font-size: 14px;
}